httpx==0.25.1
fastapi==0.104.1
uvicorn==0.23.2
prometheus-client==0.18.0
opentelemetry-distro==0.41b0
opentelemetry-instrumentation-httpx==0.41b0
opentelemetry-instrumentation-fastapi==0.41b0
opentelemetry-instrumentation-logging==0.41b0
opentelemetry-exporter-otlp==1.20.0
